.container {
  text-align: center;
}

.game__top_bar{
  position: absolute;
  top: 19px;
  left: 19px;
  z-index: 2; 
  width: 511px;
  height: 64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.game__counter {
  padding-left: 12px;
}

.game__timer {
  padding-right: 12px;
}

ul {
margin: 0;
padding: 0;
list-style: none;
display: flex;
}

img {
  margin-bottom: -4px;
}

.game__img {
  width: 556px;
  height: 640;
  position: relative;
  margin: 0 auto;
  user-select: none;
}

.game__time_img {
  height: 46px;
  padding: 8px 0 10px 0;
}

.game__emoticon_img {
  height: 52px;
}
.game__emoticon_img:hover {
  cursor: pointer;
}

.game__field {
  display: grid;
  grid-template-columns: repeat(16, 32px);
  grid-template-rows: repeat(16, 32px);
  width: 512px;
  height: 512;
  /* border: 1px solid black; */
  margin: 0 auto;
  position: absolute;
  top: 103px;
  left: 19px; 
  /* gap: 1px; */
} 

.square {
  background-image: url("./images/fieldCells/cells/cellUndiscovered.png");
}

.square:hover {
  cursor: pointer;
}

.bomb {
  background-image: url("images/fieldCells/mines/mineOpened.png");
}

.flagged {
  background-image: url("images/fieldCells/flag/flag.png")
}

.questioned {
  background-image: url("images/fieldCells/questions/question.png")
}

.bomb__expoled {
  background-image: url("images/fieldCells/mines/mineExploded.png")
}

.field__empty {
  background-image: url("images/fieldCells/cells/cellEmpty.png")
}

.bomb_hidden {
  background-image: url("./images/fieldCells/cells/cellUndiscovered.png");
}
/* .board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
}
.square {
  background-color: grey;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  user-select: none;
} */