/* Общие стили */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@400;600;900&family=Roboto&display=swap');

body {
user-select: none;
font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #0077FF;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

span {
  color:#0077FF;
}

img {
  margin-bottom: -4px;
}

ul {
  list-style: none;
}

li {
  text-align: left;
  padding-bottom: 5px;
}

/* Стиль для контейнера */
.container {
  text-align: center;
}

/* Стили для выпадающего списка правил */
.menu {
  position: relative;
}

.menu__item {
  display: block;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  background-color: #fff;
  padding: 20px;
  margin: 0;
}

.submenu li {
  list-style: none;
  font-size: 16px;
  padding: 10px;
}

.menu__item.active + .submenu {
  display: block;
}

/* Стили для верхней части игрового пространтсва */
.game__top_bar{
  position: absolute;
  top: 19px;
  left: 19px;
  z-index: 1; 
  width: 511px;
  height: 64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.game__time ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.game__counter {
  padding-left: 12px;
}

.game__timer {
  padding-right: 12px;
}

.game__img {
  width: 556px;
  height: 640;
  position: relative;
  margin: 0 auto;
}

.game__time_img {
  height: 46px;
  padding: 8px 0 10px 0;
}

.game__emoticon_img {
  height: 52px;
}

/* Стили для игрового поля */
.game__field {
  display: grid;
  grid-template-columns: repeat(16, 32px);
  grid-template-rows: repeat(16, 32px);
  width: 512px;
  height: 512;
  margin: 0 auto;
  position: absolute;
  top: 103px;
  left: 19px; 
} 

/* Стили для клеток поля по умолчанию */
.square {
  background-image: url("./images/fieldCells/cells/cellUndiscovered.png");
}

.square:hover {
  cursor: pointer;
}

/* Стили для клеток поля по правому клику мышкой */
.flagged {
  background-image: url("images/fieldCells/flag/flag.png")
}

.questioned {
  background-image: url("images/fieldCells/questions/question.png")
}

/* Стили для клеток поля с бомбами */
.bomb {
  background-image: url("images/fieldCells/mines/mineOpened.png");
}

.bomb_hidden {
  background-image: url("images/fieldCells/cells/cellUndiscovered.png");
}

.bomb__expoled {
  background-image: url("images/fieldCells/mines/mineExploded.png")
}

/* Стили для открытых клеток */
.not_bomb {
  background-image: url("images/fieldCells/mines/mineDecoy.png")
}

.field__empty {
  background-image: url("images/fieldCells/cells/cellEmpty.png")
}

/* Стили для открытых клеток с цифрами по количеству ближайших мин*/
.digit{
  background-image: none;
}

.digit_1 {
  background-image: url("images/fieldCells/numberOfMines/numOfMines_1.png")
}

.digit_2 {
  background-image: url("images/fieldCells/numberOfMines/numOfMines_2.png")
}

.digit_3 {
  background-image: url("images/fieldCells/numberOfMines/numOfMines_3.png")
}

.digit_4 {
  background-image: url("images/fieldCells/numberOfMines/numOfMines_4.png")
}

.digit_5 {
  background-image: url("images/fieldCells/numberOfMines/numOfMines_5.png")
}

.digit_6 {
  background-image: url("images/fieldCells/numberOfMines/numOfMines_6.png")
}

.digit_7 {
  background-image: url("images/fieldCells/numberOfMines/numOfMines_7.png")
}

.digit_8 {
  background-image: url("images/fieldCells/numberOfMines/numOfMines_8.png")
}

/* Стили для итоговых очков пользователя */
.final_points {
  width: 556px;
  padding: 0;
  margin: auto;
}

/* Стили для кнопки сброса результатов пользователя */
.reset_results {
  color: #FFFFFF;
  background-color: #0077FF;
  font-size: inherit;
  padding: 15px 30px;
  margin-top: 10px;
  border-radius: 15px;
}

.reset_results:hover {
  opacity: 80%;
}

.reset_results:active {
  background-color: #000000;
}